<header>
  <h1>Welcome</h1>
</header>

<div class="content">
  <p class='timer'></p>

  <div class="source-code-wrapper hidden">
    <h3>Source Code</h3>
    <pre><code id='source-code' class='ruby'></code></pre>
  </div>
</div>
